@charset "UTF-8"; 
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

:root {
    --cor0: #4A158D;

    --font-padrão:"DM Sans", arial, sans-serif;
    --font-destaque:"Poppins", arial, sans-serif;
}
body {
    background-color:rgba(255, 255, 255, 0.861);
}

header {
    background-color: #4A158D;
    height: 20vh;
    width: 100%;
    position: relative;
    display: flex; /* Mantém flex para alinhamento */
    align-items: center; /* Centraliza verticalmente */
    box-shadow: 1px 1px 1px black;
}

.imagemHead {
    width: 19%;
    height: 100%;
    padding-right: 10%;
    position: relative;
}

.imagemHead img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: grayscale(100%) brightness(0) invert(100%);
}

nav {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    width: 40vw;
    background-color: white;
    border-radius: 12px 12px 0 0;
    padding: 0;
    text-align: center;
}

nav ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    position: relative; 
}

nav li a {
    display: inline-block;
    text-decoration: none;
    font: 20px var(--font-padrão);
    color: black;
}

nav li a:hover {
    color: #4A158D;
}

.dropdown-menu {
    position: absolute;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%);
    display: none;
    z-index: 1; 
    background-color: white;
    border-radius: 0 0 12px 12px;
    
}

.dropdown-menu a {
    display: block;
    color: black;
    padding: 10px 30px;
    text-align: left; 
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.mainLogica {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #9C71D1;
    text-shadow: rgba(0, 0, 0, 0.32) 1px 1px 1px;
}

.artigoLogica {
    display: flex;
    height: 50vh;
    width: 80%;
}

.logicaCont {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.logicaCont h1 {
    font-family: var(--font-destaque);
    font-size: 48px;
    margin-top: 8%;
    color: white;
    text-shadow: black 1px 1px 1px;
}

.logicaCont h2 {
    font-family: var(--font-destaque);
    font-size: 36px;
    color: white;
    text-shadow: black 1px 1px 1px;
}

.logicaCont p {
    font-family: var(--font-padrão);
    font-size: 24px;
    color: rgba(255, 255, 255, 0.551);
    width: 55%;
    margin: auto;
    line-height: 2em;
}

.logicaImg {
    flex: 1;
    background-color: orange;
    background: black url(https://images.pexels.com/photos/5700184/pexels-photo-5700184.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) center center no-repeat;
    background-size: cover;
    border-radius: 18px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.496);
}

#main1 {
    height: 50vh;
    width: 100%;
    text-align: center;
}

#main1 h2 {
    width: 45%;
    margin: auto;
    font: 2em var(--font-destaque);
    padding-top: 3%;
    font-weight: bold;
}

#main1 p {
    width: 45%;
    font: 24px var(--font-padrão);
    margin: auto;
    padding-top: 4%;
    line-height: 2em;
}

#main2 {
    margin: auto;
    height: 60vh;
    width: 80%;
    display: flex;
}

#main3 {
    height: 100vh; 
    padding-top: 4%;  
}

.listaArtigo {
    width: 50%;
    height: 80vh;
    margin: auto;
}
.listaArtigo > p, li {
    font: 24px var(--font-padrão);
    padding: 2%;
    line-height: 2em;
    text-align: justify;
}

ol {
    margin-left: 2.8%;
    padding-left: 2.8%;
}

.main4 {
    height: 30vh;
    width: 100%;
    background-color: #9C71D1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 1px 1px 1px black;
}

.main4 #buttonExec, p {
    display: inline-block;
    align-self: center; 
    padding: 1%;
}

#buttonExec {
    font: 48px var(--font-padrão);
    padding: 0.5%;
    background-color: #4A158D;
    border-radius: 25px;
    color: white;
    box-shadow: 1px 1px 1px black;
}

.main4 p {
    color: rgba(255, 255, 255, 0.47);
    font: 24px var(--font-padrão);
}

#art1 {
    height: 30vh;
    position: relative;
}

#art1 > p, #titart{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#art1 p {
    font: 48px var(--font-padrão);
    line-height: 1.5em;
}

#art1 > #titart {
    font: bolder 92px var(--font-destaque);
    color: #4A158D;
}

#main5 {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#artigo5 {
    display: flex;
    height: 50vh;
    width: 80%;
}

#main5Art1, #main5Art2 {
    flex: 1;
}

#main5Art1 {
    flex: 0 0 60%;
}

#main5Art2 {
    flex: 0 0 40%;;
}

#main5Art1 p {
    font: 24px var(--font-padrão);
    line-height: 1.8em;
    text-align: justify;
    padding:5%;
}

#main5Art2 {
    background-color: rgba(128, 128, 128, 0.422);
    border-radius: 12px;
    border-radius: 1px 1px 1px rgba(0, 0, 0, 0.518);
}

#tituloJogado {
    text-align: center;
    font: 24px var(--font-destaque);
    font-style: italic;
    color: #4b158d6c;
}

#main6 {
    display: flex;
    height: 70vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#main6 p {
    font: 32px var(--font-padrão);
    width: 40%;
    text-align: justify;
    line-height: 2em;
}

#main6 h2 {
    font: 48px var(--font-destaque);

}

